.goals-list-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
}

.goals-list-two {
  flex-basis: calc((100% - 72px) / 4);
}

.logo-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--off-white);
  border-radius: 4px;
  margin-bottom: 8px;
}

.goals-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.goals-paragraph {
  color: var(--grey-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
