.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  height: 70px;
  display: block;
  align-content: center;
  /* justify-content: space-between;
  align-items: center; */
}

.logo-nav {
  justify-content: space-between;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  text-decoration: none;
}
.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  color: #2e2f42;
}

.page-description-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  display: inline-block;
  padding: 24px 0;
  text-decoration: none;
  position: relative;
  /* color: #404bbf; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-description-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.page-description-link:hover {
  color: #404bbf;
}

.page-description-link:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.address-description {
  color: #434455;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-button {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

.list-nav {
  display: flex;
  gap: 40px;
}

@media screen and (width < 768px) {
  .header-menu {
    visibility: hidden;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    padding: 80px 40px 40px 40px;
    width: 100vw;
    height: 100vh;
  }

  .list-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .list-contact {
    flex-direction: column-reverse;
    gap: 0;
    margin-top: 150px;
  }
  .hero-email {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    text-transform: lowercase;
  }

  .header-social-media-list {
    display: flex;
    justify-content: space-evenly;
    gap: 56px;
    margin-top: 48px;
  }

  .header-close-button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (width>=768px) {
  .logo-part {
    margin-top: 25px;
  }

  .logo-nav {
    display: flex;
    flex-direction: row;
    height: 70px;
  }

  .header-close-button {
    display: none;
  }
  .header-menu {
    display: flex;
  }

  .list-nav {
    display: flex;
    gap: 40px;
  }

  .address-description {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
    text-transform: lowercase;
  }

  .hero-contact-item {
    height: 35px;
  }

  .contact {
    display: flex;

    margin-left: 121px;
  }

  .list-contact {
    flex-direction: row;
    gap: 40px;
  }

  .page-description-link {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    letter-spacing: 0.32px;
  }

  .address-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
  }

  .header-social-media-list {
    display: none;
  }
  .header-menu-button {
    display: none;
  }
}

@media screen and (width>=1158px) {
  .header-close-button {
    display: none;
  }

  .list-nav {
    display: flex;
    gap: 40px;
  }

  .address-description {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list-contact {
    flex-direction: row;
    gap: 40px;
  }

  .contact {
    margin-left: 332px;
  }
}
