* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white);

  margin: 0 auto;
  /* max-width: 1440px; */
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:root {
  --main-blue: #2196f3;
  --purple: #4d5ae5;
  --navy-blue: #2e2f42;
  --grey-paragraphs: #434455;
  --off-white: #f4f4fd;
  --white: #fff;
  --grey-customer: #8e8f99;
  --modal-checkbox: #404bbf;
}
.section {
  padding: 120px 0;
}
/* Logo section */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
  text-decoration: none;
}

.logo-part {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
}
/* Page description */
.list {
  display: flex;
  gap: 40px;
}

.page-description-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  letter-spacing: 0.32px;
  display: inline-block;
  padding: 24px 0;
  text-decoration: none;
  position: relative;
  /* color: #404bbf; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-description-link:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.page-description-link:hover {
  color: #404bbf;
}

.page-description-link:focus {
  color: #404bbf;
}

/* Contacts */
.contact {
  font-style: normal;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.address-description {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  padding: 24px 0 24px;
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.address-description:hover,
.address-description:focus {
  color: #404bbf;
}
/* Main */

.first-section-background {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/section1backgroung.jpg);
  /* max-width: 1440px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.main-title {
  padding: 188px 0;
  background-color: #2e2f42;
}
.main-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 1.12px;
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}
/* goals list */
h2 {
  color: #2e2f42;
}

.goals-list-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
}
.goals-list-two {
  flex-basis: calc((100% - 72px) / 4);
}

.goals-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.goals-paragraph {
  color: var(--grey-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* What are we doing */
.section-what-are-we-doing {
  padding-bottom: 120px;
}
.what-are-we-doing-title {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.what-are-we-doing-list {
  display: flex;
  gap: 24px;
}
.images {
  display: block;
  max-width: 100%;
  height: auto;
}
.section-two-list {
  width: calc((100% - 48px) / 3);
}
/* our team */
.our-team-title {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-background {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-title-list {
  display: flex;
  gap: 24px;
}
.our-team-names {
  padding: 32px 0;
  text-align: center;

  background-color: #ffffff;
}
.our-team-name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  margin-bottom: 8px;
}
.our-team-paragraph {
  color: var(--grey-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.our-team-box {
  width: calc((100% - 72px) / 4);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.our-team {
  background-color: #f4f4fd;
  padding: 0;
}
/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-part-foot {
  color: var(--purple);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-foot {
  color: var(--off-white);

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-paragraph {
  color: var(--off-white);
  font-size: 16px;
  letter-spacing: 0.32px;
  font-weight: 400;
  line-height: 1.5em;
  max-width: 264px;
}

.footer-subscribe-container {
  margin-left: 80px;
}

.footer-subscribe-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-label {
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.footer-subscribe-input::placeholder {
  color: var(--white);
}

.footer-subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-subscribe-svg {
  margin-left: 16px;
}

/*/PORTFOLIO/*/
.navigation {
  display: flex;
  align-items: center;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter {
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.portfolio-button-transition {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.layout {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.filter-photos-list {
  width: calc((100% - 48px) / 3);
  text-decoration: none;
}

.filter:hover,
.filter:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-images {
  position: relative;
  overflow: hidden;
}

.link-cards {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-cards:hover .paragraph-transition,
.link-cards:focus .paragraph-transition {
  transform: translateY(0);
}

.paragraph-transition {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--off-white);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.project-paragraph {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 1.5em;
}
.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pages {
  list-style: none;
  text-decoration: none;
}

.main-description {
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.logo-section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--off-white);
  border-radius: 4px;
  margin-bottom: 8px;
}

.list-logo-section-four {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.list-item-social-media-section-four {
  width: 40px;
  height: 40px;
}
.social-media-links-section-four {
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-links-section-four:hover,
.social-media-links-section-four:focus {
  background-color: #404bbf;
}

.logo-section-four {
  fill: var(--off-white);
}

.customers-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-customers {
  display: flex;
  gap: 24px;
}

.item-customers {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer {
  width: 100%;
  height: 100%;
  border: 1px solid var(--grey-customer);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-customer);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer:hover,
.customer:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.customer-logo {
  fill: currentColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 32px;
}

.customer-logo:hover,
.customer-logo:focus {
  fill: #404bbf;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-logo-and-description {
  margin-right: 120px;
}

.footer-social-media-paragraph {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item-social-media-list {
  width: 40px;
  height: 40px;
}

.footer-social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
}

.footer-logo {
  fill: var(--off-white);
}

/* MODAL */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  padding: 72px 24px 24px 24px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* z-index: 10; */
}

.modal-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover {
  fill: #ffffff;
}

.modal-icon:focus {
  fill: #ffffff;
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-content {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--grey-customer);
  display: block;
  margin-bottom: 4px;
}

.modal-input-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--purple);
}

.modal-user-name-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-user-name-svg {
  fill: var(--purple);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-container {
  margin-bottom: 24px;
}

.modal-checkbox-input {
  /* padding-left: 50px; */
}

.modal-checkbox-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--grey-customer);
}

.modal-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox-svg {
}

.modal-checkbox-input:focus + .modal-checkbox-label .modal-checkbox-span {
  outline: 2px solid var(--modal-checkbox);
}

.modal-checkbox-input:checked + .modal-checkbox-label span:first-child {
  background-color: var(--modal-checkbox);
  border: none;
  fill: #f4f4fd;

  /* }accent-color: var(--off-white); */
}

.modal-checkbox-link {
  color: var(--purple);
}

.form-button {
  font-family: "Roboto", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
