* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white);

  margin: 0 auto;
  /* max-width: 1440px; */
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

:root {
  --main-blue: #2196f3;
  --purple: #4d5ae5;
  --navy-blue: #2e2f42;
  --grey-paragraphs: #434455;
  --off-white: #f4f4fd;
  --white: #fff;
  --grey-customer: #8e8f99;
  --modal-checkbox: #404bbf;

  --padding-vertical-global: 96px;
  --padding-horizontal-global: 16px;
}
.section {
  padding: var(--padding-vertical-global) var(--padding-horizontal-global);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  /* display: flex; */
  gap: 40px;
}

.contact {
  font-style: normal;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.link {
  padding: 24px 0 24px;
  text-decoration: none;
  display: block;
}

.link:hover,
.link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.address-description:hover,
.address-description:focus {
  color: #404bbf;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customer-logo:hover,
.customer-logo:focus {
  fill: #404bbf;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (width>=768px) {
  .root {
    --padding-vertical-global: 96px;
    --padding-horizontal-global: 0;
  }
}

@media screen and (width>=1158px) {
  .root {
    --padding-vertical-global: 120px;
    --padding-horizontal-global: 0;
  }
}
